middle {
	height: 100px;
	width: 100px;
	
	background-color: yellow;
	position: absolute;
	

}

.bottom {
	height: 100px;
	width: 100px;
	
	position: absolute;
	background-color: blue;
	left:  100px;
	bottom:   100px;
	

	/*left: 100px;
	bottom:   100px;
	left: 100px;*/

}
.ll {
	height: 100px;
	width: 100px;
	position: absolute;
	bottom: 100px;
	
	background-color: green;
	left:  200px;
	
	/*left: 200px;
	bottom: 200px;

	*/
}