body {
	margin: 0;
	text-align: center;
	color: #40514E;
	font-family: 'Merriweather', serif;
}
.intro {
	width: 30%;
	margin: auto;
}
.middle-continer {
	border-radius: 50%;
	margin: 100px 0;

}
hr {
	border-color: #EAF6F6;
    border-style: dotted none none;
    height: 0px;
    border-width: 6px;
    width: 4%;
    margin: 100px auto;
}
p {
	line-height: 2;
}
.front {
	width: 15%;
	border-radius: 50%;
	margin-top: 30px;
}

.top {
	background-color: #E4F9F5;
	position: relative;
	padding-top:  100px;
}
.skill-row {
	margin: 100px auto 100px auto;
	text-align: left;
	width: 50%;
	line-height: 2;
}

.prog {
	color: #66bfbf;
	font-size: 2.5rem;
	font-weight: normal;
}
h1 {
	color: #66bfbf;
	font-family: 'Sacramento', cursive;
	margin:  50px auto 0 auto;
	font-size: 90px;
}
h2 {
	color: #66bfbf;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	padding: 10px;
}
 
h3 {
	color: #11999e;
	font-family: 'Montserrat', sans-serif;
}
.cloud-one {
	
	position: absolute;
	right: 300px;
	top: 40px;
}
.skill {
	float: left;
	margin-right: 30px;
	width: 25%;
	border-radius: 50%;
}

.skill2 {
	float: right;
	margin-left:   30px;
	width: 25%;
	border-radius: 50%;
}
.cloud-two {
	position: absolute;
	left:  250px;
	bottom: 300px;


}

.pro {
	text-decoration: underline;
}
.contact-me {
	width: 40%;
	margin: 40px auto 60px;
}
.bottom-container {
	background-color: #66BFBF;
	padding: 50px 0 60px;
}

a {
	color: #11999E;
	margin: 10px 20px;
	font-family: 'Merriweather', serif;
	text-decoration: none;

}
a:hover {
	color: #EAF6F6
}
.copy-right {
	color: #EAF6F6;
	font-size: 0.75rem;
	padding: 20px 0;
}